<h1>Editing parking space</h1>

<%= render "form", parking_space: @parking_space %>

<br>

<div>
  <%= link_to "Show this parking space", @parking_space %> |
  <%= link_to "Back to parking spaces", parking_spaces_path %>
</div>
