<p style="color: green"><%= notice %></p>

<h1>Parking spaces</h1>

<div id="parking_spaces">
  <% @parking_spaces.each do |parking_space| %>
    <%= render parking_space %>
    <p>
      <%= link_to "Show this parking space", parking_space %>
    </p>
  <% end %>
</div>

<%= link_to "New parking space", new_parking_space_path %>
