<h1>Editing parking session</h1>

<%= render "form", parking_session: @parking_session %>

<br>

<div>
  <%= link_to "Show this parking session", @parking_session %> |
  <%= link_to "Back to parking sessions", parking_sessions_path %>
</div>
