<p style="color: green"><%= notice %></p>

<h1>Parking sessions</h1>

<div id="parking_sessions">
  <% @parking_sessions.each do |parking_session| %>
    <%= render parking_session %>
    <p>
      <%= link_to "Show this parking session", parking_session %>
    </p>
  <% end %>
</div>

<%= link_to "New parking session", new_parking_session_path %>
