<p style="color: green"><%= notice %></p>

<h1>Parking Application</h1>

<div id="entrances">
  <% @entrances.each do |entrance| %>
    <%= render entrance %>
  <% end %>
</div>

<%= link_to "Park a Vehicle", new_vehicle_path %>
